SESSION_SECRET="change-me"
PUBLIC_STORE_DOMAIN="your-shop.myshopify.com"
PUBLIC_STOREFRONT_API_TOKEN="your-public-storefront-token"
PRIVATE_STOREFRONT_API_TOKEN="your-private-storefront-token"
PUBLIC_CHECKOUT_DOMAIN="your-shop.myshopify.com"
PUBLIC_STOREFRONT_ID="oxygen-storefront-id"
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=""
PUBLIC_CUSTOMER_ACCOUNT_API_URL=""
SHOP_ID=""
